{% extends 'recette/_base.html' %}

{% block contenu %}

    <!--<ul> -->
    {% for r in recette %}
        <!-- <li><a href="{% url 'recette:recettes' r.id %}">{{ r.titre }}</a></li> -->


        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>

                <h3>
                    <a href="{% url 'recette:recettes' r.id %}">{{ r.titre }}</a>
                </h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
        </div>

    {% endfor %}
    <!-- </ul> -->

{% endblock %}
