{% extends 'recette/_base.html' %}

{% block contenu %}

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Toutes les recettes
                <!--<small>Cliquez pour plus de détails</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!--<ul> -->
    {% for r in recettes %}
        <!-- <li><a href="{% url 'recette:recettes' r.id %}">{{ r.titre }}</a></li> -->

        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'recette:recettes' r.id %}">
                    {% if r.images.all %}
                        {% with r.images.all|first as first_img %}
                            <img class="img-responsive" src="{{ first_img.chemin }}" alt="{{ r.titre }}">{% endwith %}
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ r.titre }}</h3>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
                    laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos
                    perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="{% url 'recette:recettes' r.id %}">Voir la recette <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <hr>


    {% endfor %}
    <!-- </ul> -->



    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/index?page={{ page_obj.previous_page_number }}">Page précédente</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/index?page={{ page_obj.next_page_number }}">Page suivante</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
