{% extends 'recette/_base.html' %}

{% block contenu %}

    {% if badLogin %}
        <font color="red"><p>Votre Login et votre Mot de passe ne correspondent pas. Veuillez essayer de nouveau.</p></font>
    {% endif %}

    {% if DesactivatedUser %}
        <font color="red"><p>Votre compte a &eacute;t&eacute; d&eacute;sactiv&eacute;. Veuillez contacter un administrateur.</p></font>
    {% endif %}

    <form method="post" action="{% url 'recette:auth' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="OK"/>
    </form>
    <a href="/create">S'enregistrer</a>

{% endblock %}