{% extends 'recette/_base.html' %}

{% block contenu %}

    <h1> {{ recette.titre }} </h1>

    <p>Difficulte : {{ recette.difficulte }}/5
        <br/>Cout : {{ recette.cout }} €
        <br/>Note : {{ moyenne }}/5
        <br/>Temps de cuisson : {{ recette.temps_cuisson }} minutes
        <br/>Temps de repos : {{ recette.temps_repos }} minutes
    </p>

    <p>Pour cette recette vous aurez besoin de :
    <ul>
        {% for ingredient in recette.ingredients.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    </p>

    <p>Etapes à suivre :
    <ul>
        {% for etape in recette.etapes.all %}
            <li>{{ etape }}</li>
        {% endfor %}
    </ul>
    </p>

    <p><a href="{% url 'recette:commentaires' recette.id %}">{{ nb_commentaires }} Commentaires (Voir)</a></p>

    <a class="btn btn-primary" href="{% url 'recette:supprimer_recette' recette.id %}">Supprimer la recette <span
                        class="glyphicon glyphicon-chevron-right"></span></a>

    <a class="btn btn-primary" href="{% url 'recette:modifier_recette' recette.id %}">Modifier la recette <span
                        class="glyphicon glyphicon-chevron-right"></span></a>

{% endblock %}