{% extends 'recette/_base.html' %}

{% block contenu %}

    <h1> {{ recette.titre }} </h1>

    <p>Difficulte : {{ recette.difficulte }}/5
        <br/>Cout : {{ recette.cout }} €
        <br/>Note : {{ recette.note }}/5
        <br/>Temps de cuisson : {{ recette.temps_cuisson }} minutes
        <br/>Temps de repos : {{ recette.temps_repos }} minutes</p>

    <p>Pour cette recette vous aurez besoin de :
    <ul>
        {% for ingredient in recette.ingredients.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    </p>

    <p>Etapes à suivre :
    <ul>
        {% for etape in recette.etapes.all %}
            <li>{{ etape }}</li>
        {% endfor %}
    </ul>
    </p>

{% endblock %}